* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* || Variables  */
:root {
    --BODY-BGCOLOR: #EBF5EE;
    --BOX-BGCOLOR: #F9F9F9;
    --BOX-X-BGCOLOR: #C1292E;
    --BOX-O-BGCOLOR: #004BA8;
    --RESET-BTN-BGCOLOR: #FDE74C;

    /* F9F9F9 */
}

body {
    background-color: var(--BODY-BGCOLOR);
}

.title {
    margin: 1rem 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.winner-announce {
    text-align: center;
    display: none;
    margin: 1rem 0;
    font-size: 2rem;
}

.container {
    margin-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    gap: 1rem;
    place-content: center;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    background-color: var(--BOX-BGCOLOR);
    text-align: center;
    color: white;
    border: 1.5px solid black;
    border-radius: 1rem;

    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.7);
}

.btn {
    padding: 0.75rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: var(--RESET-BTN-BGCOLOR);

}

#new-game-btn {
    display: none;
}

.copyright {
    text-align: center;
    margin: 1rem;
}