@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* || CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* || VARIABLES */
:root {
    --FF-MAIN: "Playfair Display SC", serif;
    --FF-PARAGRAPH: "Roboto", sans-serif;

    /* header */
    --HEADER-BGCOLOR: #100e0f;
    --HEADER-FF: Verdana, Geneva, Tahoma, sans-serif;

    /* hero */
    --HERO-BGCOLOR: #100e0f;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

/* || GENERAL Styling */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--FF-MAIN);
    background-color: #100e0f;
    color: #fff; /* we have to add variables */

}

.header {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--HEADER-BGCOLOR);
}

.logo {
    width: 100px;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid #000;
    border-radius: 1rem;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.header__nav a:any-link {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

.header__nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.hero {
    height: calc(100vh - 97px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--HERO-BGCOLOR);
}

.hero img {
    width: 300px;
}

.hero h1 {
    color: #fff;
    font-size: 2.5em;
}

.hero__top {
    position: absolute;
    top: 13.34vh;
}

.hero__bottom {
    position: absolute;
    /* bottom: 100px; */
    bottom: 13.34vh;
}

.btn {
    text-decoration: none;
    color: #000;
    background-color: goldenrod;
    padding: 0.25rem 0.35rem;
    border-radius: 10px;
    width: fit-content;
}

.hero__btn {
    position: absolute;
    bottom: 6.67vh;
}

/* || Slide Setting */
.slide {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.slide-img {
    width: 60vw;
}

.slide_content {
    padding: 1rem;
    color: white;
}

.slide_content__p {
    font-family: sans-serif;
}

.slide-btn {
    display: block;
    width: fit-content;
    margin-top: 1rem;
}

/* Slide - 1 */

.slide_content__h1 {
    font-size: 2.5em;
    text-underline-offset: 6px;
}

.slide--1__h1 {
    text-decoration: underline;
}

/* Slide - 2 */

.slide--2 {
    margin-top: 3rem;
}

.slide--2__h1 {
    line-height: 1;
}

/* || PRODUCTS SECTION */

.products {
    margin-top: 3rem;
    border-bottom: 2px solid goldenrod;
}

.products h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.container {
    margin: 2rem auto;
    margin-top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem 3rem;
}

.card {
    width: 270px;
    height: 450px;
    border: 2px solid goldenrod;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    padding-top: 5rem;
}

.card__img {
    position: absolute;
    top: -70px;
    width: 140px;
    height: 140px;
    border: 2px solid;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../Images/1.png);
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

.card--1__img {
    background-image: url(../Images/1.png);
}

.card--2__img {
    background-image: url(../Images/3.png);
}

.card--3__img {
    background-image: url(../Images/4.png);
}

.card ul {
    list-style: none;
    font-family: var(--FF-PARAGRAPH);
}

.card li {
    margin-top: 1.5rem;
}

/* || FOOTER */

footer {
    border-bottom: 2px solid goldenrod;
}

.details-container {
    margin: 50px auto;
    min-height: 60vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;

}

.details {
    width: 270px;
    text-align: center;
    font-family: var(--FF-PARAGRAPH);
    line-height: 1.3;
}

.details h1 {
    margin-bottom: 1rem;
}

.color {
    color: goldenrod;
}

.copyright {
    margin: 1rem;
    font-family: var(--FF-PARAGRAPH);
    text-align: center;
}

/* || Media Queries for responsive design */

/* Large Mobiles */
@media screen and (min-width: 640px) {

    body {
        font-size: 1.35em;
    }

    main {
        margin: 0 0.25rem;
    }


    .logo {
        width: 120px;
        margin: 0.75rem 0 0.75rem 0.75rem;
    }
}


@media screen and (min-width: 1024px) {
    .slide {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        min-height: 80vh;
    }

    .slide_content {
        width: 40vw;
    }

    .slide-img {
        width: 40%;
    }

    .slide--2 img {
        max-width: 550px;
        order: 1;
    }
}