@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/* || CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* || VARIABLES */
:root {
    --FF: "Playfair Display SC", serif;

    /* header */
    --HEADER-BGCOLOR: #100e0f;
    --HEADER-FF: Verdana, Geneva, Tahoma, sans-serif;

    /* hero */
    --HERO-BGCOLOR: #100e0f;


}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

/* || GENERAL Styling */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--FF);
    background-color: #100e0f;

}

.header {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--HEADER-BGCOLOR);
}

.logo {
    width: 100px;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid #000;
    border-radius: 1rem;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.header__nav a:any-link {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
}

.header__nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.hero {
    height: calc(100vh - 97px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--HERO-BGCOLOR);
}

.hero img {
    width: 300px;
}

.hero h1 {
    color: #fff;
    font-size: 2.5em;
}

.hero__top {
    position: absolute;
    top: 13.34vh;
}

.hero__bottom {
    position: absolute;
    /* bottom: 100px; */
    bottom: 13.34vh;
}

.btn {
    text-decoration: none;
    color: #000;
    background-color: goldenrod;
    padding: 0.25rem;
    border-radius: 10px;
}

.hero__btn {
    position: absolute;
    bottom: 6.67vh;
}

/* || Slide Setting */
.slide {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.slide-img {
    /* width: 300px; */
    width: 60vw;
}

.slide_content {
    padding: 1rem;
    color: white;
}

.slide_content__p {
    font-family: sans-serif;
}

.slide-btn {
    display: block;
    width: fit-content;
    margin-top: 1rem;
}

/* Slide - 1 */

.slide_content__h1 {
    font-size: 2.5em;
    text-underline-offset: 6px;
}

.slide--1__h1 {
    text-decoration: underline;
}

/* Slide - 2 */

.slide--2 {
    margin-top: 1rem;
}

.slide--2__h1 {
    line-height: 1;
}


