
/* || CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: sans-serif;
    background-color: #F4FAFF;
}

.heading {
    text-align: center;
    margin-top: 1rem;
}

.choices-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.choice-card {
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.choice {
    width: clamp(100px, 30vw , 250px);
    /* width: 30vw; */
    min-height: clamp(100px, 30vw , 250px);
    border: 2px solid;
    background-image: url('img/rock.png');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.choice:hover {
    box-shadow: 0 0 10px 1px #00171F;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    
}

.rock {
    background-image: url('img/rock.png');
}

.paper {
    background-image: url('img/paper.png');
}

.scissor {
    background-image: url('img/scissors.png');
}

/* Score coard style */
.score-board {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.score {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5rem;

    border: 1.5px solid #333;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #333;
    background-color: #084C61;
    background-color: #FFC857;
}

.score p {
    font-size: 1.5rem;
}

.msg-container {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.5rem;
    text-align: center;
}

.btn {
    display: block;
    margin: 1rem auto;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #FEFFBE;
    border: 2px solid black;
    border-radius: 1rem;
}

.btn:hover {
    box-shadow: 0 0 5px 0px #00171F;
}

.copyright {
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}